@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.navbar-header {
  font-size: 20pt;
  font-family: 'Chonburi', cursive;
  color: #fff;
  font-weight: 700;
}
.ui.fluid.card, .header.tasksHeader, .ui.right.floated.header, .ui.attached.fluid.segment.form, .ui.attached.message {
  font-family: 'Questrial', sans-serif !important;
}
.text {
  padding: 6px !important;
  font-weight: 700;
}
.ui.segments{
	padding-bottom: 20px;
}
.item, .item:active, .item:hover, .item:visited {
  padding-right: 2vw;
  color: #000 !important;
  text-decoration: underline;
}
.landing-body {
  background: url("/images/landing-background.jpg") no-repeat center content-box;
  width: 100%;
  height: 120vh;
  margin-top: -10vh;
  color: white;
}
.landing-background-icon {
  padding-top: 35%;
  padding-left: 0px;
  padding-bottom: 10%;
  font-size: xx-large;
}
.landing-background img {
  padding-top: 5%;
  padding-left: 50px;
  padding-right: 50px;
}
.landing-background p {
  padding-top: 10%;
  padding-left: 35px;
  padding-right: 60px;
  font-size: x-large;
  font-family: 'Open Sans', Arial, sans-serif;
}
.landing-content {
  padding: 50px 0px 80px 0px;
}
.landing-header {
  font-size: 40pt;
  font-family: 'Chonburi', cursive;
  color: #8fd7ce;
}
.landing-header2 {
  font-family: 'Questrial', sans-serif;
  font-size: 15pt;
  font-weight: 700;
}
.logo-row {
  margin-top: 40vh;
}
.terms-container {
  padding-top: 50px;
  overflow-y: visible;
  margin-bottom: 100px;
  font-family: 'Questrial', sans-serif;
}
.policy-header2 {
  font-family: 'Questrial', sans-serif;
  font-size: 15pt;
  font-weight: 700;
}
.item-desc, .item-desc:active, .item-desc:hover, .item-desc:visited {
  text-decoration: none;
  line-height: 15pt;
  font-size: 10pt;
  margin: 10pt;
}
.terms-text, .terms-text:active, .terms-text:hover, .terms-text:visited {
  color: #000000;
  font-weight: 700;
}
.security-link, .security-link:active, .security-link:hover, .security-link:visited {
  color: #000000 !important;
  text-decoration: underline;
  line-height: 15pt;
}
.security-text, .security-text:active, .security-text:hover, .security-text:visited {
  color: #000000;
  font-weight: normal;
}
.privacy-text, .privacy-text:active, .privacy-text:hover, .privacy-text:visited {
  color: #000000;
  font-weight: 700;
}
footer {
  position: inherit;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #ffffff;
  background-color: #222222;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-container {
  padding-top: 10vh;
}
.footer-logo {
  width: 125px;
}
.footer-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}
.footer-link, .footer-link:active, .footer-link:hover, .footer-link:visited {
  color: #ffffff;
  font-size: 15pt;
  line-height: 20pt;
  font-family: 'Questrial', sans-serif;
}
